input[type="range"] {
  -webkit-appearance: none !important; /*Needed to reset default slider styles */
  width: 200px;
  height: 2vh;
  background: #00000059;
  border: 1px solid darken(green, 4%);
  border-radius:0px;
  margin: auto;
  animation-delay: all 0.1s;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none !important; /*Needed to reset default slider styles */
  cursor: pointer;
  width: 2vw;
  height: 4vh;
  background: #F85900;
  border-radius: 50%;
  animation-delay: all 0.1s;
}